# see full reference in https://www.ory.sh/kratos/docs/reference/configuration/
version: v0.5.5-alpha.1

  # dsn: memory

serve:
  public:
    base_url: https://auth.nipsuli.dev/
  admin:
    base_url: http://kratos:4434/

selfservice:
  default_browser_return_url: https://app.nipsuli.dev/
  # List of URLs that are allowed to be redirected to. A redirection request is made by appending `?return_to=...` to Login, Registration, and other self-service flows.
  whitelisted_return_urls:
    - https://app.nipsuli.dev

  methods:
    password:
      enabled: true
    oidc:
      enabled: true
      config:
        providers:
          - id: google
            provider: google
            client_id: INSERT GOOGLE ID HERE
            client_secret: INSERT GOOGLE SECRET HERE
            mapper_url: file:///etc/config/kratos/oidc.google.jsonnet
            scope:
              - profile
              - email
              - openid

  flows:
    error:
      ui_url: https://app.nipsuli.dev/auth/error

    settings:
      ui_url: https://app.nipsuli.dev/auth/settings
      privileged_session_max_age: 15m

    recovery:
      enabled: true
      ui_url: https://app.nipsuli.dev/auth/recovery
      after:
        default_browser_return_url: https://app.nipsuli.dev

    verification:
      enabled: true
      ui_url: https://app.nipsuli.dev/auth/verify
      after:
        default_browser_return_url: https://app.nipsuli.dev

    logout:
      after:
        default_browser_return_url: https://app.nipsuli.dev/auth/login

    login:
      ui_url: https://app.nipsuli.dev/auth/login
      lifespan: 10m

    registration:
      lifespan: 10m
      ui_url: https://app.nipsuli.dev/auth/registration
      after:
        password:
          hooks:
            - hook: session
        oidc:
          hooks:
            - hook: session

log:
  # Don't use these settings in prod 
  level: debug
  format: text
  leak_sensitive_values: true

# set in SECRETS_COOKIE and SECRETS_DEFAULT  env variables
secrets:
  cookie:
    - xnYQg/yeTf/qW0AFgUDiQ5ujhdwIzhmlUtH/Itqx37w=
  default:
    - z2hNuGKtg2zEcjdE9EWykGUe3KZL6NEyqaOqiee1Xtw=

session:
  lifespan: 720h
  cookie:
    domain: nipsuli.dev

hashers:
  argon2:
    parallelism: 1
    memory: 131072
    iterations: 2
    salt_length: 16
    key_length: 16

identity:
  default_schema_url: file:///etc/config/kratos/identity.schema.json

courier:
  smtp:
    connection_uri: smtps://test:test@mailslurper:1025/?skip_ssl_verify=true
    # from_address: foo@bar.io
  # check how to configure templates
  # template_override_path: /conf/courier-templates
